
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');
@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}



